/* Post container css file */

/* .post {
    display: flex;
    flex-direction: column;
    border: .5px solid black;
    margin: 3rem;
    height: auto;
    justify-content: flex-start
}

img {
    width: 20%;
    height: auto;
}

.post .postPic {
    width: 100%;
    height: auto;
} */

.thumbnail {
    border-radius: 50%;

}